html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(202, 170, 170, 0.8);
  height: 75px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}

.content {
  background-color: #ccc;
  flex: auto;
  margin: auto;
  max-width: 650px;
}

.footer {
  background-color: rgba(202, 170, 170, 0.8);
  height: 25px;
}